<h1>Issues</h1>

<div>
  <% for (const issue of viewData.issues) { %>
    <div id="<%= issue.id %>">
      <img src="<%= issue.author %>" alt="Avatar"></img>
      <div>Issue #<%= issue.id %></div>
      <div>Title: <%= issue.title %></div>
      <div>Description: <%= issue.description %></div>
      <a href="./issues/<%= issue.id %>/update">Update</a>  
    </div>
    <% } %>
</div>