<h1>Issues</h1>

<div id="issue-list">
  <% for (const issue of viewData.issues) { %>
    <div id="<%= issue.id %>">
      <img 
        alt="Profile" title="<%= issue.author.name %>"
        <% if (issue.author.avatar_url) { %> 
          src="<%= issue.author.avatar_url %>"
        <% } else { %>
          src="./img/profile.png"
        <% } %>></img>
      <div id="issue-id">#<%= issue.id %></div>
      <div id="title"><%= issue.title %></div>
      <div id="description"><%= issue.description %></div>
      <a href="./issues/<%= issue.id %>/update">Update</a>  
    </div>
    <% } %>
</div>

<template id="issue-template">
  <div>
    <img alt="Profile"></img>
    <div id="issue-id"></div>
    <div id="title"></div>
    <div id="description"></div>
    <a>Update</a>  
  </div>
</template>