<h2>Issues</h2>

<div id="issue-list">
  <% for (const issue of viewData.issues) { %>
    <div id="<%= issue.id %>" class="list-item">
      <img 
        alt="Profile" title="<%= issue.author.name %>"
        <% if (issue.author.avatar_url) { %> 
          src="<%= issue.author.avatar_url %>"
        <% } else { %>
          src="./img/profile.png"
        <% } %>></img>
      <div class="issue-id">#<%= issue.id %></div>
      <div class="title"><%= issue.title %></div>
      <div class="description"><pre><%= issue.description %></pre></div>
      <a href="./issues/<%= issue.id %>/update"><img src="./img/edit-orange.png" alt="Edit icon" title="Edit"></a>  
    </div>
    <% } %>
</div>

<template>
  <div class="list-item">
    <img alt="Profile"></img>
    <div class="issue-id"></div>
    <div class="title"></div>
    <div class="description"><pre></pre></div>
    <a><img src="./img/edit-orange.png" alt="Edit icon" title="Edit"></a>  
  </div>
</template>